<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.coffestoreapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeStoreApp"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/ic_baseline_person_pin_32" />

        <activity
            android:name=".Activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.Register2ndActivity" />
        <activity android:name=".Activities.DetailStatisticActivity" />
        <activity android:name=".Activities.AddStaffActivity" />
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.PaymentActivity" />
        <activity
            android:name=".Activities.AddTableActivity"
            android:label="@string/addTable"
            android:theme="@style/PopUpActivity" />
        <activity
            android:name=".Activities.EditTableActivity"
            android:label="Sửa bàn ăn"
            android:theme="@style/PopUpActivity" />
        <activity android:name=".Activities.AddCategoryActivity" />
        <activity android:name=".Activities.AddMenuActivity" />
        <activity
            android:name=".Activities.AmountMenuActivity"
            android:label="Số lượng món"
            android:theme="@style/PopUpActivity" />
    </application>

</manifest>